<div class="row">
  <div class="col-md-4 ">
    <div class="card" >
    <%= image_tag @movie.image.url, alt: "Movie poster", class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= @movie.title %></h5>
        <p class="card-text"><%= @movie.description %><hr>
        Uploaded by: <%= @movie.user.email %></p>
        <p class="card-footer"><%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-success" %> |
        <%= link_to 'Back', movies_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-md-8 review-panel">
    <div class="card" >
      <div class="card-title">
        <p>La de da........</p>
      </div>
      <div class="card-text" >
        <p>La de da........</p>
      </div>
      <div class="card" >
        <div class="card-title">
          <p>La de da........</p>
        </div>
        <div class="card-text" >
          <p>La de da........</p>
        </div>
        <div class="card" >
          <div class="card-title">
            <p>La de da........</p>
          </div>
          <div class="card-text" >
            <p>La de da........</p>
          </div>
  </div>

</div>
